html, body
{
  background: linear-gradient(to right, rgb(59,8,30), #9c1767);
}

#heatherDiv {
  /* display: inline-block; */
  background-color: white;
  position: relative;
  left: 160px;
  top: 100px;
  padding-left: 100px;
  padding-top: -20px;
  border-radius: 45px;
  padding-bottom: -20px;
}

  #kevinDiv {
    /* display: inline-block; */
    background-color: white;
    position: relative;
    left: 160px;
    top: 100px;
    padding-left: 100px;
    padding-top: -20px;
    border-radius: 45px;
    padding-bottom: -20px;
  }

  #renatoDiv {
    /* display: inline-block; */
    background-color: white;
    position: relative;
    left: 160px;
    top: 100px;
    padding-left: 100px;
    padding-top: -20px;
    border-radius: 45px;
    padding-bottom: -20px;
  }

  #mattyD {
    /* display: inline-block; */
    background-color: white;
    position: relative;
    left: 160px;
    top: 100px;
    padding-left: 100px;
    padding-top: -20px;
    border-radius: 45px;
    padding-bottom: -20px;
  }


#map {
  height: 100%;
  padding: 0;
  margin: 0;
}

/* css to customize Leaflet default styles  */
.custom .leaflet-popup-tip,
.leaflet-popup-content-wrapper {
    background: white;
    color: #ffffff;
    /* height: 270px;
    width: 450px */
    height: 100%;
    width:450px
}

.leaflet-popup-content {
  /* max-width: 500px; */
  height: 100%;
  /* overflow-y: scroll; */
  width: 100%;
  background: white;
  color: #ffffff;

}
